@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Desa</h1>
    <p>Learn about <a href="https://github.com/TallesC/challenge">building Web apis with ASP.NET Core on Take Blip</a>.</p>
</div>
